@media (max-width: 1100px){

/* header-start */

.burger-menu{
    display: inline;

            }
header{
    background-color: white;
    position: fixed;
    width: 100vw;
    height: 100px;
    z-index: 100;
    border-bottom: 2px solid #BEBCBC;
}

.header_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 100px;
    height: 100%;
}

.header_logo{
    height: 50px;
}

.header_ul{
    display: none;
    flex-direction: row;
}

.header_ul li{
    padding-inline: 40px;
    list-style-type: none;
}

.header_ul li a{
    transition: 0.5s;
    color: #6F6F6F;
    text-decoration: none;
    font-family: 'YsabeauInfant.ttf';
    white-space: nowrap;
    font-size: 20px;
}

.header_ul li a:hover, .header_ul li a .active{
    transition: 0.5s;
    color:  #C8A687;
    cursor: pointer;
}

.header_ul li.active a {
	color: green;
}


.header_tel{
    text-decoration: none;
    border: 2px solid #6F6F6F;
    border-radius: 10px;
    padding: 5px;
}

.header_tel:hover{
    border: 2px solid #ECB371;

}

.burger-menu{
    display: none;
}

/* header-end */


/* section1-start */

.section1{
    padding-top: 100px;
    /* height: 900px; */
}

.section1_wraper{
    justify-content: center;
    vertical-align: middle;
    position: relative;
    vertical-align: middle;
    padding-inline: 100px;
}

.section1_wraper_mobile{
    display: none;
}

.section1_wraper img{
    position: absolute;
    right: 100px;
    z-index: -1;
    width: 550px;
    margin-top: 50px;
}

.section1_wrap3{
    padding-top: 150px;
    display: inline-block;
    width: 60vw;
}

.section1_wrap1{
    display: flex;
    flex-direction: column;
    
}

.section1_h1{
    font-size: 70px;
    color: #C8A687;
}

.section1_h2{
    font-size: 70px;
    color: #414141;
}

.section1_separator{
    height: 2px;
    width: 32vw;
    background-color: #BEBCBC;
    margin-block: 30px;
}


.section1_span{
    width: 40vw;
    font-size: 30px;
    color: #6F6F6F;
}

.section1_span .beige{
    color: #C8A687;
}

.section1_wrap2{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

.section1_block1{
    background-color: #C8A687;
    width: 19vw;
    border-radius: 20px;
    padding-inline: 20px;
    padding-block: 20px;
    transition: 0.5s;
}

.section1_block2{
    background-color: white;
    border: 3px solid #C8A687;
    color: #6F6F6F;
    width: 18vw;
    border-radius: 20px;
    padding-inline: 20px;
    padding-block: 20px;
    margin-left: 10px;
    transition: 0.5s;
    
}

.section1_block3{
    background-color: #C8A687;
    width: 18vw;
    border-radius: 20px;
    padding-inline: 20px;
    padding-block: 20px;
    margin-left: 10px;
    transition: 0.5s;
}


.section1_block1:hover, .section1_block2:hover, .section1_block3:hover{
    transform: scale(1.03);
}


.section1_block1 span{
    font-size: 30px;
    color: white;
}

.section1_block2 span{
    font-size: 30px;
}

.section1_block3 span{
    font-size: 30px;
    color: white;
}


/* section1-end */




/* section3-start */

.table_mobile{
    display: inline;
}

.table_desctop{
    display: none;
}

.section3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: 100px;
}

.section3_heading{
    margin-top: 90px;
    font-size: 70px;
    padding-block: 20px;
    color: #414141;
}


.section3_td_div{
    height: 20vw;
    width: 25vw;
    position: relative;
    padding-left: 20px;
    padding-top: 20px;
}

.section3_td_div_h1_1{
    color: #C8A687;
    font-size: 40px;
    padding-right: 20px;
}

.section3_td_div_h1_2{
    color: #6F6F6F;
    font-size: 40px;
    padding-right: 20px;
}

.section3_td_div ul{
    padding-right: 50px;
    max-width: 400px;
}

.section3_td_div ul li{
    margin-left: 20px;
    color: #6F6F6F;
}

.section3_block_span{
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #BEBCBC;
    font-size: 100px;
    z-index: -1;
}

.section3 table {
    border-collapse: collapse;
    border: 5px solid white;
    /* width: 1000px;
    height: 1000px; */
}

.section3 td{
    border: 3px solid #BEBCBC;
    border-collapse: collapse;
  }

.table_mobile{
    display: none;
}


/* section3-end */



/* section4-start */

.section4{
    padding-top: 100px;
}

.section4_wrap1{
    display: flex;
    flex-direction: row;
    padding-inline: 100px;
}

.section4_wrap2{
    display: flex;
    flex-direction: column;
    padding-right: 100px;
}

.section4_wrap3{
    display: flex;
    flex-direction: column;
}

.section4 h1{
    font-size: 70px;
    color: #414141;
    padding-left: 100px;
}


.section4_wrap2 span{
    font-size: 40px;
    color: #6F6F6F;
    padding-block: 20px;
}

.section4 span .beige{
    color: #C8A687;
}



.section4_wrap3 img{
    /* height: 500px; */
    /* height: 50vh; */
    width: 38vw;
    border-radius: 25px;
    margin-top: 25px;

}

.section4_wrap3 span{
    font-size: 29px;
    color: #6F6F6F;
}

.section4_wrap3_span1{
    padding-top: 10px;
}

.section4_wrap4{
    margin-block: 70px;
    background-color: #C8A687;
    width: 100vw;
}

.section4_wrap5 span{
    color: white;
    font-size: 40px;
    width: 50vw;
    margin-left: 6vw;
}

.section4_wrap5{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-block: 50px;
}


/* section4-end */


/* section5-start */

.section5{
    padding-inline: 100px;
    display: flex;
    flex-direction: column;
}


.section5 h1{
    font-size: 70px;
    color: #414141;
}


.section5 span{
    font-size: 40px;
}

.section5_span_information{
    padding-left: 50px;
    color: #6F6F6F;
}

.section5_wrap1{
    margin-top: 30px;
}

.section5_span_information_tel a{
    text-decoration: none;
    border: 3px solid #C8A687;
    color: #6F6F6F;
    border-radius: 20px;
    padding: 5px;
    font-size: 30px;
    margin-left: 50px;
    padding-inline: 50px;
    transition: 0.5s;
}

.section5_span_information_email a{
    text-decoration: none;
    background-color: #C8A687;
    color: white;
    border-radius: 20px;
    padding: 5px;
    margin-left: 50px;
    padding-inline: 50px;
    font-size: 40px;
}

.section5_span_information_tel a:hover{
    color: #C8A687;
}

.section5 .section5_span_heading{
    font-size: 40px;
    color: #6F6F6F;
}

.section5_wrap1{
    display: flex;
    flex-direction: row;
}

.section5_wrap1 img{
    width: 600px;
}

.section5_wrap2{
    display: flex;
    flex-direction: column;
    padding-right: 100px;
}


.section5_wrap3{
display: flex;
flex-direction: row;
}

.form_question{
margin-top: 90px;
color: #6A6767;
}

.section5 form {
    margin-top: 10px;
}

.section5 form input{
    display: block;
    border: none;
    background: white;
    color: #6F6F6F;
    border: 2px solid #C8A687;
    border-radius: 15px;
    transition: 0.5s;
    font-size: 30px;
    text-align: initial;
    padding-left: 80px;
    /* width: fit-content; */
    padding-block: 8px;
    font-family: 'YsabeauInfant.ttf';
    
}


.section5 form button{
    display: block;
    border: none;
    background: #C8A687;
    color: white;
    border-radius: 15px;
    transition: 0.5s;
    font-size: 30px;
    width: fit-content;
    padding-inline: 50px;
    margin-left: 20px;
    padding-block: 8px;
    font-family: 'YsabeauInfant.ttf';
    cursor: pointer;
}

.section5 form .checkbox{
    margin-top: 10px;
    width: 10px;
    height: 10px;
}

.section5_checkbox_text{
    font-size: 5px;
    color: #6F6F6F;
}

.section5_consent_wrap{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

.section5_consent_wrap span{
    font-size: 20px;
    padding-left: 10px;
}

/* section5-end */



/* footer-start */

footer{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    background-color: #C8A687;
    height: 200px;
}

footer img{
    height: 50px;
    margin-block: 20px;
    margin-left: 100px;

}


/* footer-end */





}